h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a.router-link-active {
    background-color: gray;
    color: white;
    border-radius: 0;
}
